

.nav-bar{
    background-color:#FF9800;
    min-height: 8x%;

}
.nav-bar img{
    width: 150px;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color:black;
}
.active{
    color:black;
}
.navbar-toggler .fa{
    color:white;
}
.navbar-toggler {
    
    outline: none;
}
.banner{
    min-height:77%;
    color:#555;
}
.banner img{
    width: 100%;
}
.info{
    margin: 24px auto;
}
.info h1{
    font-size: 30px;

}
.info a{
    width: 135px;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    margin: 5% 10px ;
    background-color: #FF9800;
    display: inline-block ;
}

.info .second-btn{
    border: 1px solid #FF9800;
    background: transparent;
    color:#555;
    transition: 0.5s;
}
.info .second-btn:hover{
    background: #FF9800;
    color:#fff;
}

.footer-widget{
    min-height: 15%;
    background-image: linear-gradient( to right,#ff9800,#a46406);
    padding: 21px  0;
    display:inline-flex;
    color:#fff
}
.footer-text{
    padding-left: 25px;
}
.footer-widget .fa{
    font-size: 25px;
    margin: 2px;
}
.row{
    margin: 0 !important;
}
.social-icon
{
    margin: 0 20px;
}
.social-icon .fa{
    padding: 20px;
}

@media only screen and (max-width:960px)
{
    .footer-widget{
        background-image: linear-gradient(#ff9800,#a46406);
    }
}

body
{
    margin:0px;
}